/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}


body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.cover-container {
  max-width: 80%;
  background-color:white ;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  font-family: URW Gothic L, sans-serif;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  font-family: URW Gothic L, sans-serif;
  color: rgba(255, 255, 255, 0.021);
  background-color: white;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #333;
  border-bottom-color: rgb(71, 69, 69);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* PRESENTATION TEXT */
.presentation{
  font-family: URW Gothic L, sans-serif;
}
.hello-world {
  font-weight: bold;
  font-size: 3em;
}
.bg-lightcoral{
  background-color: lightcoral;
}
.bg-f0b880{
  background-color: #f0b880;
}

/* SOCIAL NETWORK BUTTONS */
.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding:10px;
    text-align: center;
    text-decoration: none;
}
